* {
    font-family: "Saira Condensed", sans-serif;
    margin: 0;
    padding: 0;
}
.text1 {
    margin: auto;
    text-align: left;
    padding-left: 50px;
}

.text {
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.space {
    width: 80px;
    height: 5px;
    background-color: black;
    margin: auto;
}
.card a {
    color: black;
    text-decoration: 1px black;
    margin: auto;
    margin-right: 10px;
    padding: 5px;
    text-align: center;
}

.card a:hover {
    border: 1px solid black;
    width: 80px;
    text-align: center;
    text-decoration: none;
}
.card a:active {
    background-color: black;
    color: white;
}

.card {
    width: 200px;
    height: 300px;
    box-shadow: black;
    margin: 50px;
    background-color: whitesmoke;
}

.card-text {
    height: 100px;
}
.card img {
    max-width: 200px;
}

.img img {
    margin-top: 20px;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content {
    margin-top: -100px;
    z-index: 1;
    background-color: white;
    width: 500px;
    margin: auto;
    height: 200px;
}

.container-product {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.info {
    margin: 50px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

.info a {
    text-decoration: none;
    display: block;
    color: black;
}

footer {
    padding: 30px;
}

.button {
    margin: auto;
    background-color: white;
    width: 20px;
}
