@media screen and (max-width: 768px) {
    #container {
        width: auto;
    }

    .container-product-merk {
        width: auto;
    }
    #toolbar-content {
        margin: auto;
    }
    #toolbar-content a {
        margin: 5px;
    }

    .card {
        margin: 10px;
    }

    #toolbar {
        margin: auto;
    }

    .info {
        display: flex;
        flex-direction: column;
    }
    .link {
        margin-top: 20px;
    }
}
